body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  background: linear-gradient(0deg, #FFF5F4 0%, #FFF5F4 100%), var(--HOMEPAGE-BG, #F8FFF5);
  overflow: hidden;
}

body.register-page {
  overflow-y: auto; /* Allows vertical scrolling for the register page */
}

body.manage-profile {
  overflow-y: auto; /* Allows vertical scrolling for the manage profile page */
}

body.recreational-areas-list {
  overflow-y: auto; /* Allows vertical scrolling for the manage profile page */
}

.container-fluid {
  height: 100vh; /* Full viewport height */
}

/* Image container that stays fixed on the right */
.image-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%; /* Adjust this percentage to control the image width */
  height: 100vh; /* Full viewport height */
  background-color: transparent;
  z-index: 1; /* Ensures it stays behind other elements */
}

/* Image that fits inside the container */
.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  backface-visibility: hidden;
}

.upload-click {
  opacity: 0.50;
  color: #222222;
  font-size: 12px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}

.upload-title {
  color: #838383;
  font-size: 14px;
}

.hover-shadow {
  transition: text-shadow 0.3s ease;
}

.hover-shadow:hover {
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: black;
}

.header {
  position: relative;
}

.centered {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.btn-login {
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #FF5916;
  color: white;
  border: 2px solid #FF5916;
  border-radius: 3px;
  cursor: pointer;
  width: 120px;
}

.btn-login:hover {
  background-color: #FFF5F4;
  color: #FF5916;
  border: 2px solid #FF5916;
}

input::placeholder {
  font-weight: 300;
  color: #aaaeb3;
}

.passImg:hover {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 15px #FF5916;
}

.requirements {
  display: none;
  position: absolute;
  background-color: #FFDDD0;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-size: 0.75rem;
  line-height: 1.5;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.passImg-container:hover .requirements {
  display: block;
  opacity: 1;
  visibility: visible;
}

input::placeholder {
  font-weight: 200;
  color: #aaaeb3;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .image-container {
    display: none; /* Hides the image on smaller screens */
  }

  .col-lg-6 {
    width: 100%; /* Makes the form full width on smaller screens */
  }
}
